/* Design Page */

h1 {
    //${h1Style(colors)}

    font-family: 'Abril Fatface', Georgia, cursive; 
    font-size: 4.3rem;
    //color: ${hexToRGB(colors.coal, 0.9)};
    //text-shadow: -8px 1px 2px ${hexToRGB(colors.disco.cyan, 0.4)}, 8px -1px 2px ${hexToRGB(colors.disco.magenta, 0.4)};

    &::after {
      content: " ";
      margin: .9rem auto .6rem;
      width: 60%;
      height: 5px;
      display: block;
      border-top: 2px solid black;
      opacity: .8;
      //box-shadow: -10px 2px 5px ${hexToRGB(colors.disco.cyan, 0.4)}, 10px -2px 5px ${hexToRGB(colors.disco.magenta, 0.4)};
      //background-image: linear-gradient(90deg, ${hexToRGB(colors.disco.magenta, 0.8)} 15%, ${hexToRGB(colors.disco.neongreen, 0.6)} 35%, ${hexToRGB(colors.disco.purple, 0.8)} 85%);
    }

    &::before {
      content: " ";
      margin: .6rem auto .6rem;
      width: 40%;
      height: 5px;
      display: block;
      border-top: 2px solid black;
      opacity: .8;
      //box-shadow: -10px 2px 5px ${hexToRGB(colors.disco.cyan, 0.4)}, 10px -2px 5px ${hexToRGB(colors.disco.magenta, 0.4)};
      //background-image: linear-gradient(90deg, ${hexToRGB(colors.disco.magenta, 0.8)} 15%, ${hexToRGB(colors.disco.neongreen, 0.6)} 35%, ${hexToRGB(colors.disco.purple, 0.8)} 85%);
    }

}





h1 {
  //${h1Style(colors)}

  font-family: "Hepta Slab";
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 2px 1px 0 #eee, 4px 3px 0 #707070;

  &::after {
    content: " ";
    margin: 1.2rem auto 0;
    width: 70%;
    height: 12px;
    display: block;
    //border-top: 1px solid ${hexToRGB(colors.coal, 0.6)};
    //border-left: 1px solid ${hexToRGB(colors.coal, 0.6)};
    //box-shadow: 1px 1px 0 rgba(238, 238, 238, .6), 3px 2px 0 rgba(	112, 112, 112, .6);
    //background-image: linear-gradient(90deg, ${hexToRGB(colors.disco.purple, 0.8)} 15%,${hexToRGB(colors.disco.neongreen, 0.6)} 35%, ${hexToRGB(colors.disco.purple, 0.8)} 85%);
    
    /* animation: ${animatedgradient} 6s linear infinite;
    animation-direction: alternate; */
  }
}


h1 {
  //${h1Style(colors)}

font-family: "Playfair Display";
font-weight: bold;
//color: ${hexToRGB(colors.coal, 0.9)};
//text-shadow: 2px 1px 0 #fff, -2px -3px 1px ${hexToRGB(colors.disco.blue, 0.5)}, 4px 3px 1px rgba(255,0,180,0.5);

&::after {
  content: " ";
  margin: 1.2rem auto 0;
  width: 70%;
  height: 12px;
  display: block;

  /*
  border-top: 1px solid ${hexToRGB(colors.coal, 0.6)};
  border-left: 1px solid ${hexToRGB(colors.coal, 0.6)};


  background: linear-gradient(
    -45deg, 
    rgba(255,0,180,0.5) 25%, 
    ${hexToRGB(colors.disco.blue, 0.5)} 25%, 
    ${hexToRGB(colors.disco.blue, 0.5)} 50%, 
    rgba(255,0,180,0.5) 50%, 
    rgba(255,0,180,0.5) 75%, 
    ${hexToRGB(colors.disco.blue, 0.5)} 75%, 
    ${hexToRGB(colors.disco.blue, 0.5)}
  );
  */
  background-size: 20px 20px;
  background-position: 0 0;
  box-shadow: 1px 1px 0 rgba(238, 238, 238, .6), 3px 2px 0 rgba(	112, 112, 112, .6);

  /* animation: ${animatedgradient} 6s linear infinite;
  animation-direction: alternate; */
}
}